.project h2 {
    text-align: left;
    font-size: 1.9rem;
    color: var(--color-white);
    line-height: 2;
    font-weight: 700;
    padding-bottom: 1em;
}

.project .btn-tag {
    background-color: var(--color-bg-variant);
    padding: .5em .7em;
    border-radius: 10px;
    margin-right: 1em;
    width: max-content;
    font-size: .8rem;
}

.project .btn-tag:hover {
    background-color: var(--color-white);
    color: var(--color-bg-variant);
}

.card-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* border: 1px solid red; */

}

.project .card-col {
    width: 31%;
    gap: 10px;
    margin-bottom: 3em;
}

.img-div {
    border: 1px solid var(--color-bg-variant);
    padding: .4em;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: var(--transition);
}

.img-div:hover {
    transform: translateY(-10%);
}

.project .icons {
    margin-right: 1em;
    font-size: 1.3rem;
}

.project .icons:hover {
    color: var(--color-primary);
}

.project>div p {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    text-align: left;
}

.project .paragraph {
    color: var(--color-light);
    font-weight: 200;
    font-size: .9rem;
}


.line-div {
    border: 1px solid blue;
}

.project button {
    margin-top: 3em;
    width: 70%;

}

.buttonDiv {
    text-align: center;
}



/* MEDIA QUERIES TABLETS */
@media screen and (max-width: 1024px) {

    .project .card-col {
        width: 45%;
        gap: 10px;
        margin-bottom: 3em;
    }

}


/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .project .card-main {
        flex-direction: column;
    }

    .project .card-col {
        width: 95%;
    }

}