.tools img {
    max-width: 40%;
    margin-bottom: 1em;
    margin: 0 auto;
}

.tools .col-1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tools .inner-col-1 {
    width: 25%;
    margin-bottom: 4em;
    transition: var(--transition);
}

.tools .inner-col-1:hover {
    transform: scale(1.2);
}



.tools h2 {
    text-align: center;
    font-size: 1.9rem;
    color: var(--color-white);
    line-height: 2;
    font-weight: 700;
    padding-bottom: 1em;
}

.tools h3 {
    text-align: center;
    font-size: 1rem;
    color: var(--color-light);
}



/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {

    .tools .inner-col-1 {
        width: 30%;
        margin: 0 auto;
        margin-bottom: 4em;
    }

}