.header {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 6em 0;

}

.header__container {
    text-align: center;
    min-height: 100vh;
    position: relative;
    margin: 4em auto 0;
}


.header h1 {
    padding-bottom: var(--padding-bottom-lg);
}

.header h2 {
    padding-bottom: var(--padding-bottom-lg);
    font-weight: 400;
    color: var(--color-white);

}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .header__container {
        min-height: 100vh;
        margin: .1em auto 0;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
 
}